body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: white;
}
content {
    background: url('https://source.unsplash.com/utwYoEu9SU8/4887×2759') center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1 {
    letter-spacing: .1.5rem;
    text-transform: uppercase;
    background-color: white;
    color: black;
    margin-top: 30px;
    line-height:24px;
    padding: 10px 45px 10px 45px;

}
.sitename {
    color: black;
    background: transparent;
}
p {
    display: block;
    max-width:300px;
    width:100%;
    padding:23px;
    background-color: black;
    color: white;
    margin-top: 30px;
    line-height:28px;
}
.subheader {
    font-size:24px;

}